<div id="popup-check-hash" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" id="title-check-hash">FAIR GAME: <span id="check-game-id">#1000</span></h4>
      </div>
      <div class="modal-body col-xs-12">

        <div class="group-round-hash group col-xs-12">
          <div class="col-xs-12 no-padding">Round Hash :</div>
          <div class="value-container col-xs-12">
            <div class="value col-xs-10 round-hash" id="hash-copy">12345</div>
            <div class="clipboard-btn clipboard-hash col-xs-2 text-center">Copy</div>
          </div>
        </div>

        <div class="group-hash-salt group col-xs-12">
          <div class="col-xs-12 no-padding">
            Hash salt :
          </div>
          <div class="value-container col-xs-12">
            <div class="value col-xs-10 hash-salt" id="hash-salt-copy">
              12345
            </div>
            <div class="clipboard-btn clipboard-hash col-xs-2 text-center">Copy</div>
          </div>
        </div>
        <div class="group-round-number group col-xs-12">
          <div class="col-xs-3 no-padding">
            Round number :
          </div>
          <div class="value-container col-xs-12">
            <div class="value col-xs-10 round-number" id="round-number-copy">
              123456
            </div>
            <div class="clipboard-btn clipboard-hash col-xs-2 text-center">Copy</div>
          </div>
        </div>

        <div class="col-xs-12 check-hash text-center">
          <button class="btn save disabled" type="button" id="btn-check-hash">
            <span>Check</span>
          </button>
        </div>
      </div>
    </div>

  </div>
</div>
