<header>
  <div id="logo" class="">
    <div class="wrapper-head">
      <div class="col-xs-12 no-padding">
        <div class="logo-img pull-left">
          <a href="/">
            <img src="images/logo/logo-csgo.png" alt="CsgoBestYolo">
          </a>
        </div>

        <div class="logo-menu pull-right hidden-xs">
          <ul>
            {{#if checkLogin}}
            <li class="user-avatar">
              <a href="#"><img src="{{user.avatar}}" alt="avatar"></a>
            </li>

            <li class="user-name dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                <span class="span-user-name">{{user.userName}}</span>
                <span class="caret"></span>
              </a>

              <ul class="dropdown-menu">
                <li>
                  <a href="/user/profile">
                    <i class="fa fa-user" aria-hidden="true"></i> &nbsp;
                    Profile
                  </a>
                </li>

                <li class="user-logout">
                  <a href="/auth/logout">
                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                    Logout
                  </a>
                </li>
              </ul>
            </li>

            <li>
              <span class="user-level">Lv {{user.level}}</span>
            </li>

            <li class="user-email dropdown" id="logo-user-emai">
              <a href="#" class="dropdown-toggle check-notification" data-toggle="dropdown" aria-expanded="true">
                <i class="fa fa-envelope-o"></i>
                <span class="label label-success hide notifi_num">0</span>
              </a>

              <ul class="dropdown-menu">
                <li class="header">
                  You have <span class="notifi_num2" style="font-size:13px;">0</span> messages
                </li>
                <li>
                  <div class="slimScrollDiv">
                    <ul class="menu">
                    </ul>
                  </div>
                </li>
                <li class="footer clear-noti col-xs-6">
                  <a href="/sysmessage/message" target="_blank" rel="noreferrer" style="margin-top: 5px;">
                    <i style="font-size: 13px;" class="fa fa-eye" aria-hidden="true"></i> See All
                  </a>
                </li>
                <li class="footer clear-noti col-xs-6">
                  <a href="javascript:void(0)" style="margin-top: 5px;">
                    <i style="font-size: 13px;" class="fa fa-ban" aria-hidden="true"></i> Clear All
                  </a>
                </li>
              </ul>
            </li>
            {{else}}
            <li id="btn-login-steam-2" class="guest login border-right">
              <a href="javascript:void(0)" class="btn">LOGIN</a>
            </li>
            <li id="btn-login-email" class="border-right">
              <a href="javascript:void(0)" class="btn">REGISTER</a>
            </li>
            {{/if}}

            <li class="language dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                <img src="/images/flags/32/uk.png" alt="" class="images-language"><span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li class="">
                  <a href="javascript:void(0)"><img src="/images/flags/32/uk.png" alt=""> English </a>
                </li>
              </ul>
            </li>

          </ul>
        </div>

        <button type="button" class="hamburger visible-xs is-closed" data-toggle="offcanvas">
          <span class="hamb-top"></span>
          <span class="hamb-middle"></span>
          <span class="hamb-bottom"></span>
        </button>
      </div>
    </div>
    <!-- End .wrapper-head -->
  </div>
  <!-- End #logo -->
  <div class="clearfix"></div>
</header>
