<div class="modal fade login-signup-popup in" id="login-popup">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body row m0 p0">
        <div class="close-popup">
          <i class="fa fa-times" aria-hidden="true"></i>
        </div>
        <div class="popup-content">
          <h3 class="popup-title">Login</h3>
          <p class="f16 mb20">Welcome back to Xgame!</p>

          <div class="popup-form-content">
            <form id="form-login" novalidate="novalidate">
              <div class="step step-1">
                <div class="form-group">
                  <div class="col-xs-12 p0">
                    <label for="login-email"></label>
                    <input class="textinput popup-input" name="email" id="login-email" required="" type="email" aria-required="true" placeholder="Your email"/>
                  </div>
                </div>

                <div class="form-group clearfix">
                  <div class="col-xs-12 p0">
                    <label for="login-password"></label>
                    <input class="textinput popup-input" name="password" id="login-password" required="" type="password" aria-required="true" placeholder="Your password"/>
                    <span class="help-block mb5"></span>
                  </div>
                </div>

                <div class="form-group clearfix remember-login">
                  <div class="col-xs-12 p0">
                    <input type="checkbox" id="remember_me" name="remember_me">
                    <label for="remember_me" class="remember-me">Remember me</label>
                    <a href="/user/forgot" class="pull-right"><i>Forgot Password</i></a>
                  </div>
                </div>
              </div>

              <div class="form-group clearfix">
                <div class="col-xs-12 p0">
                  <button class="btn btn-block popup-login-signup-button"
                          type="button" id="login">
                    Login
                  </button>
                </div>
              </div>

              <div class="clearfix"></div>

              <div class="form-group fontw-bold">
                <p>New to Xgame? <a class="switch-signup" href="javascript:void(0)" style="color: #f99910; text-decoration: none;">Sign up</a></p>
              </div>

              <div class="col-xs-12 login-signup-notification p0 clearfix"></div>

              <input type="hidden" class="ignore" name="_csrf" value="{{_csrf}}">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
