<div class="modal fade login-signup-popup" id="signup-popup" style="overflow-y: scroll !important;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body row m0 p0">
        <div class="close-popup">
          <i class="fa fa-times" aria-hidden="true"></i>
        </div>
          <div class="popup-content">
            <h3 class="popup-title">Sign up for free</h3>
            <p class="f16 mb15">To start playing at Xgame!</p>

            <div class="popup-form-content">
              <form id="form-signup" role="form" novalidate="novalidate" autocomplete="off">
                <div class="step step-1">
                  <div class="form-group">
                    <div class="col-xs-12 p0">
                      <label for="signup-email"></label>
                      <input class="textinput popup-input warning-div warning-email" name="email"
                             id="signup-email" required="" type="email" aria-required="true" placeholder="Your email">
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="col-xs-12 p0">
                      <label for="signup-username"></label>
                      <input class="textinput popup-input warning-div warning-username" name="username"
                             id="signup-username" required="" aria-required="true" placeholder="User name">
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="col-xs-12 p0">
                      <label for="signup-password"></label>
                      <input class="textinput popup-input warning-div warning-password" name="password"
                             id="signup-password" required="" type="password" aria-required="true" placeholder="Your password">
                    </div>
                  </div>

                  <div class="form-group clearfix">
                    <div class="col-xs-12 p0">
                      <label for="re-signup-password"></label>
                      <input class="textinput popup-input warning-div warning-re-password" name="confirmPassword"
                             id="re-signup-password" required="" type="password" aria-required="true" placeholder="Confirm your password">
                    </div>
                  </div>

                  <div class="form-group clearfix agree-signup-div agree-age remember-login p5 f12 mb5">
                    <div class="col-xs-12 p0">
                      <input type="checkbox" id="confirm_signup_age" name="confirm_signup_age">
                      <label for="confirm_signup_age" class="agree-signup">I certify that I am 18 years of age or older</label>
                    </div>
                  </div>

                  <div class="form-group clearfix">
                    <div class="col-xs-12 p0">
                      <button class="btn btn-block popup-login-signup-button signup-email"
                              type="button" id="btn-signup">
                        Sign up
                      </button>
                    </div>
                  </div>

                  <div class="clearfix"></div>

                  <div class="form-group fontw-bold">
                    <p>Already User? <a class="switch-login" href="javascript:void(0)" style="color: #f99910; text-decoration: none;">Login</a></p>
                  </div>
                </div>

                <div class="col-xs-12 login-signup-notification p0 clearfix"></div>

                <input type="hidden" class="ignore" name="_csrf" value="{{_csrf}}">
              </form>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
