<header>
    <div id="logo" class="">
        <div class="wrapper-head">
            <div class="col-xs-12 no-padding">
                <div class="logo-img pull-left">
                    <a href="/">
                        <img src="assets/images/logo/logo-csgo.png" alt="logo-xgame">
                    </a>
                </div>

                <div class="logo-menu pull-right hidden-xs">
                    <ul>
                        <li id="btn-login-steam-2" class="login border-right pr5">
                            <a href="javascript:void(0)" class="btn">LOGIN</a>
                        </li>

                        <li id="btn-login-email" class="border-right pr5">
                            <a href="javascript:void(0)" class="btn">REGISTER</a>
                        </li>

                        <li class="language dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                <img src="assets/images/flags/32/uk.png" alt="" class="images-language"><span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="">
                                    <a href="javascript:void(0)">
                                        <img src="assets/images/flags/32/uk.png" alt=""> English
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>

                <button type="button" class="hamburger visible-xs is-closed" data-toggle="offcanvas">
                    <span class="hamb-top"></span>
                    <span class="hamb-middle"></span>
                    <span class="hamb-bottom"></span>
                </button>
            </div>
        </div>
        <!-- End .wrapper-head -->
    </div>
    <!-- End #logo -->
    <div class="clearfix"></div>
</header>
