@font-face {
    font-family:"Roboto-Medium";
    src: url('../fonts/Roboto-Medium.ttf');
}
@font-face {
    font-family:"Roboto-Regular";
    src: url('../fonts/Roboto-Regular.ttf');
}

.list-game{
    min-height: 500px;
    background-color: #333333;
    padding: 30px 8px 10px;
}
.list-game .game-details{
    padding: 0 8px;
    margin-bottom: 20px;
}
.game-details-title{
    background-color: #090909;
    text-align: center;
    height: 38px;
    line-height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-family:"Roboto-Medium";
    font-size: 16px;
    color: white;
}
.game-details-title .game-details-icon{
    margin-right: 3px;
}
.game-details-content{
    height: 180px;
    background: #000;
    position: relative;
}
.game-details-content .bg{
    height: 100%;
    width: 100%;
    z-index: 2;
    opacity: .2;
    position: absolute;
}
.game-details-content .game-details-row{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
}
.game-details-content .game-details-row>.row{
    width: 100%;
    height: 100%;
}
.game-details-content .game-details-left, .game-details-content .game-details-right{
    height: 100%;
}
.game-details-content .game-details-left{
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #2f2f2f;
}
.game-details-content .game-details-left a{
	color: white;
	text-align: center;
	text-decoration: none !important;
}
.game-details-content .game-details-left p{
	padding: 5px 0;
	color: white;
	text-align: center;
	text-decoration: none !important;
}
.game-details-content .game-details-left p:hover{
	text-decoration: none !important;
	color: white;
}
.game-details-content .game-details-right{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 13px;
}
.game-details-content .game-details-left.have-carousel{
    flex-direction: column;
}
.game-details-content .game-details-left.have-carousel h3{
    font-family:"Roboto-Medium";
    font-size: 16px;
    margin-bottom: 0;
}
.game-details-content .game-details-left.have-carousel .carousel{
    width: 130px;
}
.game-details-content .game-details-left.have-carousel ol.carousel-indicators{
    bottom: -16px;
}
.game-details-content .game-details-left.have-carousel ol.carousel-indicators li{
    width: 7px;
    height: 7px;
}
.game-details-content .game-details-left.have-carousel ol.carousel-indicators li.active{
    width: 8px;
    height: 8px;
}
.carousel-inner>.next, .carousel-inner>.prev{
    position: absolute !important;
}
.game-details-content .game-details-left.have-carousel .item{
    width: 100%;
}
.game-details-content .game-details-left.have-carousel .item img{
    width: 100%;
    cursor: pointer;
}
.button-play{
    height: 75px;
    background-color: #242424;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button-play .button-content{
    width: 120px;
    height: 45px;
    line-height: 45px;
    font-family:"Roboto-Regular";
    font-size: 16px;
    color: white;
    background-color: #ff9910;
    text-align: center;
    border-radius: 3px;
}
.button-play a:hover, .button-play a:focus, .button-play .button-content:hover, .button-play .button-content:focus{
    text-decoration: none;
}