.no-padding {
  padding: 0
}

.no-padding-left {
  padding-left: 0
}

.no-padding-right {
  padding-right: 0
}

.center {
  margin: 0 auto !important
}

.fontw-bold {
  font-weight: bold
}

.text-center {
  text-align: center !important;
}

.text-uppercase {
  text-transform: uppercase;
}

.cursor-pointer {
  cursor: pointer;
}

.title-part-color {
  color: #f99910 !important
}

.text-red {
  color: #c90000
}

.text-white {
  color: #fff
}

.text-black {
  color: #000
}

.text-yellow {
  color: #f99910
}

.text-gray {
  color: #ccc
}

.text-666 {
  color: #666
}

.text-c89935 {
  color: #c89935
}

.text-838383 {
  color: #838383
}

.text-5e98d9 {
  color: #5e98d9
}

.text-cf6a32 {
  color: #cf6a32
}

.text-afafaf {
  color: #afafaf
}

.text-common {
  color: rgb(176, 195, 217) !important
}

.text-uncommon {
  color: rgb(94, 152, 217) !important
}

.text-rare {
  color: rgb(75, 105, 255) !important
}

.text-ancient {
  color: rgb(235, 75, 75) !important
}

.text-immortal {
  color: rgb(228, 174, 57) !important
}

.text-arcana {
  color: rgb(173, 229, 92) !important
}

.text-mythical {
  color: rgb(136, 71, 255) !important
}

.text-legendary {
  color: rgb(211, 44, 230) !important
}

.text-money {
  color: #fff !important
}

.text-Common {
  color: rgb(176, 195, 217) !important
}

.text-Uncommon {
  color: rgb(94, 152, 217) !important
}

.text-Rare {
  color: rgb(75, 105, 255) !important
}

.text-Ancient {
  color: rgb(235, 75, 75) !important
}

.text-Immortal {
  color: rgb(228, 174, 57) !important
}

.text-Arcana {
  color: rgb(173, 229, 92) !important
}

.text-Mythical {
  color: rgb(136, 71, 255) !important
}

.text-Legendary {
  color: rgb(211, 44, 230) !important
}

.text-Money {
  color: #fff !important
}

.standard {
  border: 1px solid #D2D2D2 !important
}

.unique {
  border: 1px solid #D2D2D2 !important
}

.inscribed,
.strange {
  border: 1px solid #CF6A32 !important
}

.suspicious {
  border: 1px solid #31C231 !important
}

.heroic,
.tournament {
  border: 1px solid #8650AC !important
}

.genuine {
  border: 1px solid #4D7455 !important
}

.frozen {
  border: 1px solid #4682B4 !important
}

.cursed,
.haunted {
  border: 1px solid #8650AC !important
}

.autographed {
  border: 1px solid #ADE55C !important
}

.base {
  border: 1px solid #B2B2B2 !important
}

.corrupted {
  border: 1px solid #A52A2A !important
}

.unusual {
  border: 1px solid #8650AC !important
}

.infused {
  border: 1px solid #8847FF !important
}

.exalted {
  border: 1px solid #CCC !important
}

.elder,
.vintage {
  border: 1px solid #476291 !important
}

.legacy {
  border: 1px solid #FFF !important
}

.auspicious,
.lucky {
  border: 1px solid #32CD32 !important
}

.base {
  border: 1px solid #B2B2B2 !important
}

.img-circle {
  border-radius: 50%;
}

/*Position*/
.ib {
  display: inline-block;
  vertical-align: middle;
}

.inline {
  display: inline;
}

.v-center {
  vertical-align: middle !important;
}

.v-top {
  vertical-align: top !important;
}

.v-bottom {
  vertical-align: bottom !important;
}

.absolute {
  position: absolute;
}

.absolute.v-center {
  top: 50%;
}

.absolute.h-center {
  left: 50%;
}

.absolute.left {
  left: 0;
}

.absolute.right {
  right: 0;
}

.absolute.top {
  top: 0;
}

.absolute.bottom {
  bottom: 0;
}

.relative {
  position: relative;
}

/*z-index*/
.z10 {
  z-index: 10;
}

.z9 {
  z-index: 9;
}

.z8 {
  z-index: 8;
}

.z7 {
  z-index: 7;
}

.z6 {
  z-index: 6;
}

.z5 {
  z-index: 5;
}

.z4 {
  z-index: 4;
}

.z3 {
  z-index: 3;
}

.z2 {
  z-index: 2;
}

.z1 {
  z-index: 1;
}

.over-hidden {
  overflow: hidden;
}

/*fontsize*/
.f10 {
  font-size: 10px;
}

.f11 {
  font-size: 11px;
}

.f12 {
  font-size: 12px;
}

.f13 {
  font-size: 13px;
}

.f14 {
  font-size: 14px;
}

.f15 {
  font-size: 15px;
}

.f16 {
  font-size: 16px;
}

.f18 {
  font-size: 18px;
}

.f20 {
  font-size: 20px;
}

.f22 {
  font-size: 22px;
}

.f24 {
  font-size: 24px;
}

.f26 {
  font-size: 26px;
}

/*margin*/
.m0 {
  margin: 0;
}

.m5 {
  margin: 5px;
}

.m10 {
  margin: 10px;
}

.m15 {
  margin: 15px;
}

.m20 {
  margin: 20px;
}

.m25 {
  margin: 25px;
}

.m30 {
  margin: 30px;
}

.mcenter {
  margin-left: auto;
  margin-right: auto;
}

.mt3 {
  margin-top: 3px;
}

.mt5 {
  margin-top: 5px;
}

.mt7 {
  margin-top: 7px;
}

.mt8 {
  margin-top: 8px;
}

.mt10 {
  margin-top: 10px;
}

.mt12 {
  margin-top: 12px;
}

.mt14 {
  margin-top: 14px;
}

.mt15 {
  margin-top: 15px;
}

.mt17 {
  margin-top: 17px;
}

.mt18 {
  margin-top: 18px;
}

.mt20 {
  margin-top: 20px;
}

.mt25 {
  margin-top: 25px;
}

.mt30 {
  margin-top: 30px;
}

.mt35 {
  margin-top: 35px;
}

.mt40 {
  margin-top: 40px;
}

.mt45 {
  margin-top: 45px;
}

.mt50 {
  margin-top: 50px;
}

.mt55 {
  margin-top: 55px;
}

.mt100 {
  margin-top: 100px;
}

.mb3 {
  margin-bottom: 3px;
}

.mb5 {
  margin-bottom: 5px;
}

.mb7 {
  margin-bottom: 7px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb12 {
  margin-bottom: 12px;
}

.mb14 {
  margin-bottom: 14px;
}

.mb15 {
  margin-bottom: 15px;
}

.mb17 {
  margin-bottom: 17px;
}

.mb18 {
  margin-bottom: 18px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb25 {
  margin-bottom: 25px;
}

.mb30 {
  margin-bottom: 30px;
}

.mb35 {
  margin-bottom: 35px;
}

.mb40 {
  margin-bottom: 40px;
}

.mb50 {
  margin-bottom: 50px;
}

.mb85 {
  margin-bottom: 85px;
}

.mb90 {
  margin-bottom: 90px;
}

.mb100 {
  margin-bottom: 100px;
}

.mb150 {
  margin-bottom: 150px;
}

.ml3 {
  margin-left: 3px;
}

.ml5 {
  margin-left: 5px;
}

.ml7 {
  margin-left: 7px;
}

.ml10 {
  margin-left: 10px;
}

.ml12 {
  margin-left: 12px;
}

.ml14 {
  margin-left: 14px;
}

.ml15 {
  margin-left: 15px;
}

.ml17 {
  margin-left: 17px;
}

.ml18 {
  margin-left: 18px;
}

.ml20 {
  margin-left: 20px;
}

.ml25 {
  margin-left: 25px;
}

.ml30 {
  margin-left: 30px;
}

.ml35 {
  margin-left: 35px;
}

.ml40 {
  margin-left: 40px;
}

.ml50 {
  margin-left: 50px;
}

.ml100 {
  margin-left: 100px;
}

.mr3 {
  margin-right: 3px;
}

.mr5 {
  margin-right: 5px;
}

.mr7 {
  margin-right: 7px;
}

.mr10 {
  margin-right: 10px;
}

.mr12 {
  margin-right: 12px;
}

.mr14 {
  margin-right: 14px;
}

.mr15 {
  margin-right: 15px;
}

.mr17 {
  margin-right: 17px;
}

.mr18 {
  margin-right: 18px;
}

.mr20 {
  margin-right: 20px;
}

.mr25 {
  margin-right: 25px;
}

.mr30 {
  margin-right: 30px;
}

.mr35 {
  margin-right: 35px;
}

.mr40 {
  margin-right: 40px;
}

.mr45 {
  margin-right: 45px;
}

.mr50 {
  margin-right: 50px;
}

.mr100 {
  margin-right: 100px;
}

/*padding*/
.p0 {
  padding: 0;
}

.p5 {
  padding: 5px;
}

.p10 {
  padding: 10px;
}

.p15 {
  padding: 15px;
}

.p20 {
  padding: 20px;
}

.p25 {
  padding: 25px;
}

.p30 {
  padding: 30px;
}

.pt3 {
  padding-top: 3px;
}

.pt5 {
  padding-top: 5px;
}

.pt7 {
  padding-top: 7px;
}

.pt8 {
  padding-top: 8px;
}

.pt10 {
  padding-top: 10px;
}

.pt15 {
  padding-top: 15px;
}

.pt20 {
  padding-top: 20px;
}

.pt25 {
  padding-top: 25px;
}

.pt30 {
  padding-top: 30px;
}

.pt35 {
  padding-top: 35px;
}

.pt40 {
  padding-top: 40px;
}

.pt45 {
  padding-top: 45px;
}

.pt50 {
  padding-top: 50px;
}

.pt100 {
  padding-top: 100px;
}

.pb3 {
  padding-bottom: 3px;
}

.pb5 {
  padding-bottom: 5px;
}

.pb10 {
  padding-bottom: 10px;
}

.pb12 {
  padding-bottom: 12px;
}

.pb14 {
  padding-bottom: 14px;
}

.pb15 {
  padding-bottom: 15px;
}

.pb20 {
  padding-bottom: 20px;
}

.pb25 {
  padding-bottom: 25px;
}

.pb30 {
  padding-bottom: 30px;
}

.pb35 {
  padding-bottom: 35px;
}

.pb40 {
  padding-bottom: 40px;
}

.pb50 {
  padding-bottom: 50px;
}

.pb100 {
  padding-bottom: 100px;
}

.pl3 {
  padding-left: 3px;
}

.pl5 {
  padding-left: 5px;
}

.pl10 {
  padding-left: 10px;
}

.pl12 {
  padding-left: 12px;
}

.pl14 {
  padding-left: 14px;
}

.pl15 {
  padding-left: 15px;
}

.pl20 {
  padding-left: 20px;
}

.pl25 {
  padding-left: 25px;
}

.pl30 {
  padding-left: 30px;
}

.pl35 {
  padding-left: 35px;
}

.pl40 {
  padding-left: 40px;
}

.pl50 {
  padding-left: 50px;
}

.pl100 {
  padding-left: 100px;
}

.pr3 {
  padding-right: 3px;
}

.pr5 {
  padding-right: 5px;
}

.pr10 {
  padding-right: 10px;
}

.pr12 {
  padding-right: 12px;
}

.pr14 {
  padding-right: 14px;
}

.pr15 {
  padding-right: 15px;
}

.pr20 {
  padding-right: 20px;
}

.pr25 {
  padding-right: 25px;
}

.pr30 {
  padding-right: 30px;
}

.pr35 {
  padding-right: 35px;
}

.pr40 {
  padding-right: 40px;
}

.pr50 {
  padding-right: 50px;
}

.pr100 {
  padding-right: 100px;
}

.lh80 {
  line-height: 80px
}

@font-face {
  font-family: "fester bold";
  src: url(../fonts/FesterBold.woff2)
}

span.user-steamid {
  font-size: 14px;
  font-family: Arial, serif;
  color: #fff;
  display: block;
}

@font-face {
  font-family: "OpenSans-Regular";
  src: url('../fonts/OpenSans-Regular.woff');
}

@font-face {
  font-family: "OpenSans-Bold";
  src: url('../fonts/OpenSans-Bold.woff');
}

@font-face {
  font-family: "Utm-Bold";
  src: url('../fonts/UTM-IntelBold_Italic.woff');
}

@font-face {
  font-family: "UTMSC-Bold";
  src: url('../fonts/UTM-SWISS-CONDENSEDBOLD.woff');
}

@font-face {
  font-family: "Bemio-Italic";
  src: url('../fonts/Bemio-Italic.woff');
}

.red-star {
  color: red
}

.marginBot5 {
  margin-bottom: 5px
}

body {
  height: 100%;
  position: relative;
  background: #131312 url('../images/body-bg-1.jpg') no-repeat fixed;
  background-size: cover;
}

header {
  width: 100%;
  border-radius: 0;
  border: none;
  margin-bottom: 15px;
  height: 65px;
  background-image: url('../images/head-bg-v1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.container,
.wrapper-head,
#main,
#wrapper-footer {
  max-width: 1366px;
  margin: 0 auto
}

#wrapper-footer>div:first-child {
  padding-top: 0
}

.navbar {
  margin-bottom: 0
}

#logo .row2 .navbar-default {
  border: 0;
  background: none no-repeat left;
  background-size: 100% 100%;
}

header #logo .logo-menu ul {
  list-style: none;
  margin-bottom: 0;
  padding-left: 5px;
}

header #logo .logo-menu>ul>li {
  display: inline-block
}

header #logo .logo-menu>ul>li a,
header #logo .logo-menu>ul>li span {
  color: #fff;
  text-decoration: none;
  font-size: 14px
}

header #logo .logo-menu>ul>li.language {
  cursor: pointer;
  position: relative
}

header #logo .logo-menu>ul .user-avatar {
  padding: 0 5px
}

header #logo .logo-menu>ul .user-avatar img {
  width: 38px;
  height: 38px !important;
  border-radius: 50%;
  padding: 2px;
  border: 1px solid #ccc;
  margin-right: 5px
}

header #logo .logo-menu>ul .user-name {
  font-family: Arial, serif;
  font-size: 14px;
  color: #999;
  margin-left: -5px;
  padding-right: 5px;
  position: relative
}

.user-name .span-user-name {
  max-width: 100px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-grid;
}

header #logo .logo-menu>ul .user-name>ul li.disable {
  opacity: .25;
  filter: grayscale(100%) !important;
}

header #logo .logo-menu>ul .user-name>ul li.disable a:hover {
  background: none !important;
}

header #logo .logo-menu>ul li .user-level {
  color: #333;
  font-style: italic;
  border: 2px solid #c4c6c6;
  box-shadow: 0 2px 2px 0;
  font-size: 11px;
  background: #959595;
  border-radius: 8px;
  margin-right: 5px;
  padding: 0 3px
}

#btn-login-email a,
#btn-login-steam-2 a {
  padding: 4px 25px;
  font-size: 16px;
  color: white;
}

#btn-login-email a {
  background-color: #373c40;
}

#btn-login-steam-2 a {
  background-color: #ff9b0a;
}

#logo-user-emai .menu li h4 {
  margin-top: 5px;
  margin-bottom: 5px;
}

#logo-user-emai .menu li p {
  line-height: 16px !important;
}


/* New homepage =================================================================================================*/
.logo-img {
  margin-bottom: 0;
  margin-right: 5px;
  height: 65px;
  padding: 10px 0;
  width: 130px;
}

.logo-img img {
  height: 100%;
  z-index: 3;
}

#logo .menu-items {
  float: left;
  padding-top: 5px;
}

#logo .menu-items a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 6px;
  text-decoration: none;
  font-size: 17px;
  font-family: "UTMSC-Bold", serif;
  text-transform: uppercase;
}

#logo .menu-items .dropdown {
  float: left;
  overflow: hidden;
}

#logo .menu-items a.active,
#logo .menu-items a:hover {
  color: #ff9910;
}

#logo .logo-img,
#logo .logo-menu {
  z-index: 10;
  position: relative;
}

#logo .row2 {
  z-index: 9;
  position: relative;
  margin-left: 140px;
  background: rgba(0, 0, 0, 0)
}

#logo .row2:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  -webkit-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  transform: skewX(-20deg);

  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
}

#logo .logo-menu>ul {
  line-height: 65px;
}

#logo .logo-menu p {
  line-height: 20px !important;
}

footer {
  overflow: hidden;
  background: #242020 url('../images/footer.jpg') no-repeat center;
  background-size: cover;
  height: 100%;
}

footer #footer {
  padding: 15px 0;
  margin-top: 30px;
}

@media screen and (max-width:1366px) {

  .container,
  .wrapper-head,
  #main,
  #wrapper-footer {
    max-width: 1170px;
    margin: 0 auto
  }

  #main #main-right #player #player-history a {
    font-size: 13px
  }
}

@media screen and (max-width:992px) {

  .container,
  .wrapper-head,
  #main,
  #wrapper-footer {
    max-width: 970px;
    margin: 0 auto
  }

  #logo .row1 {
    height: 40px;
    padding: 0 20px
  }

  #logo .row1 .logo-img img {
    height: 40px
  }
}

@media screen and (max-width:970px) {
  #menu .menu-items .menu-item a {
    font-size: 14px
  }

  #profile {
    padding: 0
  }
}

@media screen and (max-width:900px) {
  #wrapper-footer>div {
    width: 100%;
  }

  #wrapper-footer .footer-logo {
    width: 100%;
    text-align: center
  }

  .players_online {
    max-width: 210px;
    margin: 0 auto;
  }

  footer {
    background-image: url(../images/footer.jpg);
  }
}

@media screen and (max-width:768px) {
  .menu-items>li {
    float: left;
    margin-top: 15px
  }

  #menu .menu-items .menu-item a {
    padding-right: 40px
  }

  #logo .row2 .navbar-default .navbar-collapse {
    margin-top: 20px;
    position: relative;
    border-top: 0;
    box-shadow: none;
    min-height: 240px;
  }

  #logo .row2 .navbar-default .navbar-nav {
    margin: 5px 0
  }

  #logo .row1,
  #logo .row2 {
    height: auto
  }
}

@media screen and (max-width:568px) {

  .container,
  .wrapper-head,
  #main,
  #wrapper-footer {
    max-width: 550px;
    margin: 0 auto
  }

  .welcome-content {
    padding-left: 0
  }
}

@media screen and (max-width:480px) {
  .modal-dialog {
    width: 100% !important;
    margin: 0 !important;
  }

}

header #logo .logo-menu>ul>li span.label {
  position: absolute;
  top: 19px;
  right: 9px;
  text-align: center;
  font-size: 9px;
  padding: 2px 3px;
  line-height: .9
}

header #logo .logo-menu>ul .user-email a.dropdown-toggle {
  padding: 15px;
  margin-left: -10px
}

header .dropdown-menu {
  margin-right: -15px;
  margin-top: -1px;
  right: 0;
  left: initial;
  background: #464646
}

.dropdown-menu>li:hover>a {
  background: #f49517
}

.dropdown-menu ul.menu {
  overflow: hidden
}

.dropdown-menu ul.menu li a {
  padding: 10px
}

.dropdown-menu>li .menu>li>a>div>img {
  margin: auto 10px auto auto;
  width: 40px;
  height: 40px
}

.dropdown-menu>li .menu>li>a>h4 {
  padding: 0 0 0 45px;
  color: #fff;
  font-size: 15px;
  position: relative
}

.dropdown-menu>li .menu>li>a>p {
  margin: 0 0 0 45px;
  font-size: 12px;
  color: #888
}

.dropdown-menu>li .menu>li>a>h4>small {
  color: #fff;
  font-size: 10px;
  position: absolute;
  top: 0;
  right: 0
}

.dropdown-menu>li .slimScrollDiv {
  position: relative;
  width: 250px;
  max-height: 200px;
  overflow-y: scroll
}

.dropdown-menu>li .slimScrollDiv ul {
  padding-left: 0
}

.slimScrollDiv::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  border-radius: 10px;
  background-color: #F5F5F5
}

.slimScrollDiv::-webkit-scrollbar {
  width: 4px;
  background-color: #F5F5F5
}

.slimScrollDiv::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #494949
}

.dropdown-menu>li.header {
  color: #fff;
  font-size: 13px;
  padding: 2px 5px 7px;
  border-bottom: 1px solid #797979;
  line-height: normal;
}

.dropdown-menu>li .slimScrollDiv ul.menu li {
  padding: 5px;
  border-bottom: 1px solid #9c9c9c;
  min-height: 50px;
  clear: both;
}

.dropdown-menu>li .slimScrollDiv ul.menu li:hover {
  background: #494949
}

.dropdown-menu>li .slimScrollDiv ul.menu li a {
  padding: 0
}

.dropdown-menu>li.footer>a {
  font-size: 12px !important;
  text-align: center
}

.dropdown-menu>li.footer:hover>a {
  background: none
}

ul.pagination li {
  float: left;
  list-style: none
}

ul.pagination li:first-child>a,
ul.pagination li:last-child>a {
  border-radius: 0 !important
}

ul.pagination li>a {
  width: 30px;
  margin-left: 0;
  text-align: center;
  padding: 6px 0;
  background: #464646;
  color: #ccc;
  font-size: 12px;
  border-color: #717171;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
  z-index: 3;
  color: #fff;
  cursor: default;
  background-color: #b5b5b5 !important;
  outline: none;
  border-color: #b5b5b5;
}

#profile .progress {
  height: 12px;
  background-color: #464646
}

#profile .progress-bar {
  font-size: 11px;
  line-height: 12px
}

.text-orange {
  color: #f99910;
}

#btn-login-email img,
#btn-login-steam img {
  width: 160px;
  height: 30px;
}

ul a.noti-update-profile {
  color: red !important;
  cursor: pointer !important;
}

#your-id a.noti-update-profile {
  display: inline-block;
  left: 0;
  color: red !important;
  text-decoration: underline !important;
  font-size: 13px !important;
  cursor: pointer !important;
  z-index: 1000 !important;
}

.menu-items .menu-item img.new {
  position: absolute;
  top: -12px;
  right: 10px;
  z-index: 2;
}

.menu-items .menu-arcade {
  line-height: 53px;
  height: 53px;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

img.menu-hot {
  margin-bottom: 14px;
  margin-left: 2px;
  z-index: 2;
}

.dropdown-menu>li>a.reflink {
  padding: 3px 21px 3px 19px;
}

.dropdown-menu>li>a.reflink img {
  width: 14px;
  height: 14px;
}

/*====== Modal update email and password =============================================================================================*/
.update-notice .alert {
  padding: 10px 15px;
}

.update-notice .alert ul {
  list-style: none;
}

@media only screen and (max-width: 1366px) {
  header .wrapper-head {
    max-width: 98%;
    padding: 0;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 1200px) {
  #logo .row2 {
    margin-left: 155px;
  }

  header #logo .logo-menu>ul {
    padding-left: 30px;
  }

  #logo .menu-items a {
    padding: 14px 9px;
    font-size: 17px;
  }
}

@media only screen and (max-width: 1080px) {

  #logo .menu-items a {
    padding: 14px 5px;
    font-size: 16px;
  }
}

@media only screen and (max-width: 993px) {
  #logo .row2 {
    margin-left: 55px;
    margin-right: 35px;
  }

  #logo .menu-items a {
    padding: 14px 10px;
    font-size: 18px;
  }
}

@media only screen and (max-width: 768px) {
  .navbar-default .navbar-toggle {
    margin-top: 15px;
  }

  header .wrapper-head {
    width: 100%;
    max-width: 100%;
  }

  header #logo .logo-img,
  header #logo .logo-menu {
    width: 100%;
    text-align: center
  }

  header #logo .logo-img {
    margin-bottom: 0
  }

  .wrapper-head {
    width: 100%
  }

  .navbar-header {
    text-align: center
  }

  .navbar-toggle {
    float: none
  }

  #menu .menu-items .menu-item a {
    padding-right: 0
  }

  .menu-items>li {
    padding: 0 10px 0 5px
  }

  header #logo .logo-menu ul {
    padding-left: 0
  }

  .menu-items .menu-item a {
    padding-right: 0
  }

  #logo .row2 {
    margin-left: 0;
  }

  .navbar-default .navbar-toggle {
    margin-top: 0;
  }

  #logo .menu-items .dropdown-content {
    margin-left: 3px;
    margin-top: -15px;
  }

  #main {
    margin-top: 20px;
  }

  #logo .row2 .navbar-default .navbar-nav {
    margin-bottom: 30px;
  }

  #logo .logo-img,
  #logo .logo-menu {
    position: initial;
  }

}

@media only screen and (max-width: 600px) {

  #btn-login-email img,
  #btn-login-steam img {
    width: 130px;
    height: 30px;
  }

  header .noel-bell {
    display: none;
  }
}

@media only screen and (max-width: 350px) {

  #btn-login-email img,
  #btn-login-steam img {
    width: 105px;
    height: 28px;
  }
}


.notices-sprite {
  background-image: url('../images/spritesheet.png');
  background-repeat: no-repeat;
  width: 20px;
  height: 23px;
  background-position: -5px -80px;
}

.notifi-icon {
  width: 48px;
  height: 48px;
  display: inline-block;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

.notices .notifi-icon {
  width: 32px;
  height: 32px;
  margin-top: -20px;
}

.middle-block {
  display: inline-block;
  vertical-align: middle;
}

.notices-sprite.success {
  background-position: -5px -165px;
}

.notices-sprite.error {
  background-position: -5px -38px;
}

#main-right #profile {
  margin-bottom: 30px
}

#main-right #profile {
  padding-right: 0 !important
}

#main-right #profile #pro-top {
  background: #252525;
}

#main-right #profile .progress {
  border-radius: 0
}

#main-right #profile #info {
  padding: 15px 0 10px;
}

#main-right #profile #info #avatar {
  padding: 5px 0
}

#main-right #profile #info #avatar img {
  width: 85px;
  height: 85px;
  border-radius: 50%
}

#main-right #profile #info #your-id {
  padding: 5px 0
}

#main-right #profile #info #your-id .yourid-player {
  font-size: 18px;
  font-family: Arial, serif;
  color: #fff;
  padding: 0 5px 0 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: calc(100% - 116px);
  display: block;
  float: left;
}

#main-right #profile #info #your-id .yourid-level {
  color: #333;
  font-style: italic;
  border: 2px solid #c4c6c6;
  box-shadow: 0 2px 2px 0;
  font-size: 11px;
  background: #959595;
  padding: 0 5px;
  border-radius: 8px;
  display: inline-block;
}

#main-right #profile #info #coin-diamond {
  padding: 5px 0
}

#main-right #profile #info #coin-diamond .exchange {
  padding-left: 10px;
  font-style: italic
}

#main-right #profile #info #coin-diamond a:hover {
  text-decoration: none
}

#main-right #profile #link {
  padding: 10px 0;
  overflow: hidden;
  border-top: 1px solid #404040
}

#main-right #profile #link a {
  text-decoration: none
}

/* Responsive menu */
/*-------------------------------*/
/*           Wrappers            */
/*-------------------------------*/
#sidebar-wrapper {
  z-index: 1000;
  left: 0;
  width: 220px;
  height: 100%;
  margin-left: -220px;
  background: #1a1a1a;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#sidebar-wrapper.toggled {
  left: 220px;
}

#sidebar-wrapper::-webkit-scrollbar {
  display: none;
}

#wrapper.toggled #sidebar-wrapper {
  width: 220px;
}

#page-content-wrapper {
  width: 100%;
  padding-top: 70px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -220px;
}

/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 220px;
  margin: 10px 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  position: relative;
  line-height: 20px;
  display: inline-block;
  width: 100%;
}

.sidebar-nav li:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 3px;
  background-color: #1c1c1c;
  -webkit-transition: width .2s ease-in;
  -moz-transition: width .2s ease-in;
  -ms-transition: width .2s ease-in;
  transition: width .2s ease-in;

}

.sidebar-nav>li:first-child>a {
  color: #fff;
  padding: 0 0 0 50px;
  margin: 10px 15px;
}

.sidebar-nav li:hover:before,
.sidebar-nav li.open:hover:before {
  width: 100%;
  -webkit-transition: width .2s ease-in;
  -moz-transition: width .2s ease-in;
  -ms-transition: width .2s ease-in;
  transition: width .2s ease-in;

}

.sidebar-nav li a {
  display: block;
  color: #ddd;
  text-decoration: none;
  padding: 10px 15px;
}

.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus {
  color: #fff;
  text-decoration: none;
  background-color: transparent;
}

.sidebar-nav>.sidebar-brand {
  height: 65px;
  font-size: 20px;
  line-height: 44px;
}

.sidebar-nav .dropdown-menu {
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0;
  border-radius: 0;
  border: none;
  background-color: #222;
  box-shadow: none;
}

/*-------------------------------*/
/*       Hamburger-Cross         */
/*-------------------------------*/

.hamburger {
  position: absolute;
  top: 15px;
  z-index: 999;
  display: block;
  width: 32px;
  height: 32px;
  margin-left: 15px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.hamburger.is-open {
  position: fixed;
  margin-left: 250px;
}

.hamburger:hover,
.hamburger:focus,
.hamburger:active {
  outline: none;
  cursor: pointer;
}

.hamburger.is-closed:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px, 0, 0);
  -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  position: absolute;
  left: 0;
  height: 4px;
  width: 100%;
}

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom {
  background-color: #fff;
}

.hamburger.is-closed .hamb-top {
  top: 5px;
  -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed .hamb-middle {
  top: 50%;
  margin-top: -2px;
}

.hamburger.is-closed .hamb-bottom {
  bottom: 5px;
  -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  background-color: #fff;
}

.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-bottom {
  top: 50%;
  margin-top: -2px;
}

.hamburger.is-open .hamb-top {
  -webkit-transform: rotate(45deg);
  -webkit-transition: -webkit-transform .2s cubic-bezier(.73, 1, .28, .08);
}

.hamburger.is-open .hamb-middle {
  display: none;
}

.hamburger.is-open .hamb-bottom {
  -webkit-transform: rotate(-45deg);
  -webkit-transition: -webkit-transform .2s cubic-bezier(.73, 1, .28, .08);
}

.hamburger.is-open:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-open:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px, 0, 0);
  -webkit-transition: all .35s ease-in-out;
}

/*-------------------------------*/
/*            Overlay            */
/*-------------------------------*/

.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .6);
  z-index: 1;
}

/*-------------------------------*/
/*            Custom             */
/*-------------------------------*/
.user-info span:first-child {
  display: inline-block;
  width: 125px;
  height: 36px;
  line-height: 36px;
  overflow: hidden;
  word-wrap: break-word;
  white-space: nowrap;
}

.user-info .caret {
  margin-top: -24px;
}

@media screen and (max-width:768px) {
  img.menu-hot {
    height: 22px;
  }

  .menu-arcade {
    height: 40px;
    line-height: 40px;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
}

@media screen and (max-width:500px) {}

/*Css tip on mobile*/
#tip-modals-region {
  position: absolute;
  z-index: 10000;
}

.footer-logo {
  display: block;
}

.footer-logo img {
  width: 100%;
  max-width: 210px;
}

/* CSS user online */
.players_online {
  background-color: #222b30;
  color: #adbec6;
  padding: 3px 7px 3px 5px;
  border-radius: 5px;
  transform: translateY(-50%);
  margin-top: 5px;
}

.players_online i.fa-user-circle-o {
  font-size: 20px;
  color: #ff9910;
}

.players_online .player_count {
  font-size: 18px;
  line-height: 1.2;
  padding-left: 5px;
}

.players_online .player_on_txt {
  font-size: 12px;
  padding-left: 5px;
}

.players_online2 {
  position: fixed;
  bottom: 0;
  right: 310px;
  z-index: 999999999999999;
  width: 180px !important;
  height: 35px;
  line-height: 35px;
  padding: 0 20px;
  background: #cc7b10;
  color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  overflow: hidden;
  font-size: 14px;
}

.players_online2 i.fa-user-circle-o,
.players_online2 .player_count2 {
  font-size: 16px;
}

/* Event ===================================================================================================================== */

@media screen and (max-width:993px) {
  .players_online {
    margin-top: 10px;
  }
}

@media screen and (max-width:900px) {
  footer #footer {
    padding-top: 30px;
    margin-top: 0;
  }
}

/* End Event ===================================================================================================================== */

/* login-signup */
@font-face {
  font-family: "OpenSans-SemiBold";
  src: url('../fonts/OpenSans-SemiBold.ttf');
}

@font-face {
  font-family: "Fira-Sans";
  src: url('../fonts/FiraSans-Black.ttf');
}

.login-signup-popup .modal-dialog {
  width: 1067px;
  height: 600px;
  font-family: "OpenSans-SemiBold", serif;
  margin: 100px auto;
  color: black;
}

#signup-popup.login-signup-popup .modal-content {
  height: 600px;
  border: unset;
  border-radius: 0;
  position: relative;
  animation: animatebottom 0.3s;
}

#login-popup.login-signup-popup .modal-content {
  height: 600px;
  border: unset;
  border-radius: 0;
  position: relative;
  animation: animatebottom 0.3s;
}

.login-signup-popup .modal-content .modal-body {
  background-image: url('../images/body-bg-3.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  color: white;
}

.login-signup-popup .popup-content {
  width: 430px;
  float: left;
  padding: 20px 20px;
  position: relative;
}

.login-signup-popup .close-popup {
  font-size: 24px;
  position: absolute;
  cursor: pointer;
  left: unset;
  right: 5px;
  top: -3px;
}

.login-signup-popup .popup-title {
  font-family: "Fira-Sans", serif;
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 5px;
}

.login-signup-popup .form-group {
  margin-bottom: 10px;
}

.login-signup-popup .warning-miss {
  border: 1px solid red !important;
}

.login-signup-popup .login-signup-notification .alert {
  padding: 10px 10px 10px 5px;
  color: white;
  border-radius: 10px;
  margin: 0;
}

.login-signup-popup .login-signup-notification .alert.alert-danger {
  border-color: #c11212;
  background-color: #c11212;
}

.login-signup-popup .login-signup-notification .alert.alert-success {
  border-color: #00a65a;
  background-color: #00a65a;
}

.login-signup-popup .login-signup-notification .alert a {
  text-decoration: underline;
}

.login-signup-popup .login-signup-notification .close {
  opacity: 1;
  color: white;
  font-size: 14px;
  position: absolute;
  right: 7px;
  top: 5px;
}

.login-signup-popup .popup-input {
  height: 40px;
  width: 100%;
  background-color: #ffffff;
  border: 1px solid #ececec;
  padding: 0 15px;
  border-radius: 30px;
  color: black;
}

.login-signup-popup .popup-input::placeholder {
  color: #959595;
}

.login-signup-popup .popup-input:focus {
  border: 1px solid #f99910;
  outline: unset;
}

/*Remember */

.remember-login input[type="checkbox"] {
  display: none;
}

label {
  cursor: pointer;
}

.remember-login input[type="checkbox"]+label:before {
  border: 1px solid #cccccc;
  content: "\00a0";
  display: inline-block;
  font: 15px/1em Arial;
  margin: 0 5px 0 0;
  vertical-align: top;
  width: 18px;
  font-weight: bold;
  font-family: Arial, serif;
}

.remember-login input[type="checkbox"]:checked+label:before {
  background: #f8d052;
  color: #fff;
  content: "\2713";
  text-align: center;
  font-weight: bold;
  font-family: Arial, serif;
}

.remember-login input[type="checkbox"]:checked+label:after {
  font-weight: bold;
  font-family: Arial, serif;
}

.remember-login a {
  color: #f99910;
  text-decoration: none !important;
}

.login-signup-popup .popup-login-signup-button {
  font-weight: bold;
  color: white;
  font-size: 16px;
  height: 40px;
  width: 100%;
  border-radius: 30px;
  background-image: linear-gradient(to right, #c65a07, #f9b80e);
  outline: none !important;
  border: none;
  line-height: 30px;
}

.login-signup-popup .popup-img {
  float: left;
  width: 684px;
}

.login-signup-popup .popup-img img {
  width: 100%;
  height: 739px;
}

#signup-popup.login-signup-popup .popup-img img {
  width: 670px;
  height: 739px;
}

/* Signup */
#signup-popup.login-signup-popup .popup-content {
  width: 430px;
  padding: 20px 20px;
}

#signup-popup.login-signup-popup .popup-img {
  width: 670px;
}

#signup-popup.login-signup-popup .form-group.agree-signup-div {
  margin-bottom: 0;
}

#signup-popup.login-signup-popup .form-group.animated {
  margin-bottom: 5px;
}

.agree-signup {
  font-size: 14px;
}

#signup-email,
#login-verifycode {
  float: left;
}

.login-signup-popup .btn-get-code {
  border-radius: 30px;
  background-color: #f0a60d;
  color: #fff;
  width: 110px;
  height: 40px;
  margin: 0 5px;
  outline: none !important;
}

.signup-steam {
  background-image: linear-gradient(to right, #2d2d2d, #888888) !important;
}

.signup-steam i {
  font-size: 20px;
  margin: 0 2px;
}

.login-signup-popup .error-area {
  border-radius: 0;
  color: red;
  font-size: 13px;
  font-weight: normal;
}

.login-signup-popup input.warning-miss {
  background: #FFFFFF url(../images/login-signup/icon-warning.png) no-repeat right 8px center;
  border: 1px solid red !important;
}

@keyframes animatebottom {
  from {
    top: -300px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}

/* user-progress */

.user-progress {
  padding: 15px;
  background-color: #252525;
  color: white;
  border-top: 1px solid #636363;
}

.verify-progress-bar {
  height: 15px;
  background-color: #555555;
}

.verify-progress-bar-content {
  height: 100%;
  background-color: #f9990f;
}

#avatar img.user-verified {
  width: 23px !important;
  height: 23px !important;
  border-radius: unset !important;
  position: absolute !important;
  right: -3px !important;
}

.user-account.limited-account {
  color: #cf1717;
  border: 1px solid #cf1717;
  padding: 0 3px;
  font-weight: bold;
  border-radius: 3px;
  max-width: 116px;
  text-align: center;
}

/* Popup login slide */
#login-popup .login-signup-popup .modal-content {
  height: 650px;
}

#login-popup .modal-body {
  height: 100%;
}

#login-carousel {
  float: left;
  width: calc(100% - 380px);
  height: 100%;
}

#login-carousel .slide,
#login-carousel .slide .content,
#login-carousel .slide .content .carousel-inner,
#login-carousel .slide .content .carousel-inner .item,
#login-carousel .slide .content .carousel-inner .item img {
  height: 100%;
  margin-top: 0;
}

#login-slide .content {
  position: relative;
}

#login-slide .carousel-indicators {
  position: absolute;
  bottom: 0;
  right: 10px !important;
  margin-left: 0;
  text-align: right;
  width: auto !important;
}

/* End - Popup login slide */

/* Popup signup slide */
#signup-popup .signup-signup-popup .modal-content {
  height: 650px;
}

#signup-popup .modal-body {
  height: 100%;
}

#signup-carousel {
  float: left;
  width: calc(100% - 430px);
  height: 100%;
}

#signup-carousel .slide,
#signup-carousel .slide .content,
#signup-carousel .slide .content .carousel-inner,
#signup-carousel .slide .content .carousel-inner .item,
#signup-carousel .slide .content .carousel-inner .item img {
  height: 100%;
  margin-top: 0;
}

#signup-slide .content {
  position: relative;
}

#signup-slide .carousel-indicators {
  position: absolute;
  bottom: 0;
  right: 10px !important;
  margin-left: 0;
  text-align: right;
  width: auto !important;
}

/* End - Popup signup slide */

/* Responsive popup login and signup */
@media screen and (max-width:1100px) {
  .login-signup-popup .modal-dialog {
    width: calc(100% - 30px);
  }

  .login-signup-popup .popup-img {
    width: calc(100% - 416px);
    height: 739px;
  }

  #signup-popup.login-signup-popup .popup-img {
    width: calc(100% - 430px);
    height: 739px;
  }

  #signup-popup.login-signup-popup .popup-img img {
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width:850px) {

  #signup-popup.login-signup-popup .popup-img,
  #login-popup.login-signup-popup #login-carousel {
    display: none;
  }

  .login-signup-popup .popup-content {
    width: 90% !important;
    height: auto;
    margin: 0 5%;
  }
}

@media screen and (max-width:768px) {
  .login-signup-popup .modal-dialog {
    margin: 50px auto;
  }

  .login-signup-popup .popup-img {
    display: none;
  }
}

@media screen and (max-width:600px) {
  #signup-popup.login-signup-popup .popup-title {
    display: none;
  }

  #signup-popup {
    overflow-y: scroll !important;
  }

  .login-signup-popup .modal-content {
    height: 100%;
    width: 100%;
    margin: 0;
  }
}
