@charset "UTF-8";

.category-nomal {
  border: 1px solid #d2d2d2 !important
}

.category-stattrak {
  border: 1px solid #cf6a32 !important
}

.category-souvenir {
  border: 1px solid #ffd700 !important
}

.category-x {
  border: 1px solid #8650ac !important
}

.category-x-stattrak {
  border: 1px solid #8650ac !important
}

#main-left {
  padding-right: 15px;
  margin-bottom: 30px
}

#main-left .item .action {
  margin-bottom: 15px
}

#main-left .item {
  position: relative;
  float: left;
  padding: 15px 0
}

#main-left .item .title {
  font-family: arial, serif;
  font-weight: 700;
  font-size: 16px;
  color: #ccc
}

#main-left .item .title .avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%
}

#main-left .item .title .time {
  float: right;
  color: #999;
  font-size: 14px;
  font-weight: 400;
  padding: 10px 5px
}

#main .type {
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  width: 100%;
  font-size: 11px;
  background: rgba(0, 0, 0, 0.7);
  text-shadow: 0 0 1px;
  overflow: hidden;
  color: #fff;
  text-transform: capitalize
}

#main-left .item {
  position: relative;
  float: left;
  padding: 10px 0 15px
}

#main-left .item .title {
  font-family: arial, serif;
  font-weight: 700;
  font-size: 16px;
  color: #ccc;
  padding-bottom: 10px
}

#main-left .item .title .avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%
}

#main-left .item .title .time {
  float: right;
  color: #999;
  font-size: 14px;
  font-weight: 400;
  padding: 10px 5px
}

#main-left .item .trade:last-child {
  border-bottom: none
}

#main-left .item .arrow {
  text-align: center;
  width: 7%;
  margin-left: auto;
  margin-right: auto
}

#main-left .item .arrow img {
  padding-top: 102%
}

#main-left .item .action .btn {
  float: right;
  font-size: 13px;
  color: #fff;
  border: none;
  margin-left: 5px;
  padding: 3px 8px
}

#main-left .item .action .btn:hover,
#main-left .item .action .btn:active,
#main-left .item .action .btn:visited,
#main-left .item .action .btn:focus {
  outline: none
}

#main-left .item .action .btn a {
  text-decoration: none;
  color: #fff
}

#main-left .item .action button.offer {
  background: #6c6b6b;
  background: -webkit-linear-gradient(#797777, #625f5f, #3b3a3a);
  background: -o-linear-gradient(#797777, #625f5f, #3b3a3a);
  background: -moz-linear-gradient(#797777, #625f5f, #3b3a3a);
  background: linear-gradient(#797777, #625f5f, #3b3a3a)
}

#main-left .item .action button.trade {
  background: #6c6c10;
  background: -webkit-linear-gradient(#c1ac18, #6c6c10, #49493f);
  background: -o-linear-gradient(#c1ac18, #6c6c10, #49493f);
  background: -moz-linear-gradient(#c1ac18, #6c6c10, #49493f);
  background: linear-gradient(#c1ac18, #6c6c10, #49493f);
  outline: none;
  padding: 3px 8px
}

#main-left .item:last-child {
  border-bottom: none
}

.option .form-group select:focus,
.option .form-group input:focus {
  box-shadow: none
}

.input-password {
  height: 24px;
  font-size: 13px;
  font-weight: 400;
  color: #999;
  background: #252525;
  border: 1px solid #555;
  box-shadow: none !important;
  padding: 3px 5px
}

.save-password {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0;
  border: none
}

.price {
  position: absolute;
  top: 3px;
  left: 3px;
  color: #000;
  background: #ccc;
  font-size: 10px;
  padding: 0 2px;
  border-radius: 5px
}

#main #main-right {
  padding-left: 15px;
  margin-bottom: 30px
}

#main #main-right ul.nav-tabs {
  font-size: 16px;
  font-family: OpenSans-Regular, serif;
  background: #2a2a2a;
  border-bottom: none
}

#main #main-right ul.nav-tabs>li.active {
  margin-bottom: -2px;
  border-bottom: 1px solid #f99910;
}

#main #main-right ul.nav-tabs>li a {
  margin: 0;
  border: none;
  font-size: 16px;
  color: #ccc;
  font-family: OpenSans-Regular, serif;
  font-weight: 400;
  padding: 10px 20px
}

#main #main-right ul.nav-tabs>li h3.tab {
  margin: 0;
  border: none;
  font-size: 16px;
  color: #ccc;
  font-family: OpenSans-Regular, serif;
  font-weight: 400;
  padding: 10px 20px;
  cursor: pointer;
}

#main #main-right ul.nav-tabs>li.active a,
#main #main-right ul.nav-tabs>li a:visited,
#main #main-right ul.nav-tabs>li a:hover,
#main #main-right ul.nav-tabs>li a:focus {
  color: #f99910;
  border-radius: 0;
  background: #252525
}

#main #main-right .tab-content {
  background: #000;
}

/* New homepage =================================================================================================*/
@media screen and (max-width: 992px) {
  #main-left {
    padding-right: 0
  }

  #main #main-right {
    padding-left: 0
  }

  #main #main-right #hot-new .event-content .content .name {
    font-size: 16px
  }

  #main #main-right #hot-new {
    padding: 0 15px
  }
}

@media screen and (max-width: 768px) {
  .play {
    top: 28%;
    left: 40%;
    font-size: .65em
  }

  #footer {
    text-align: center
  }

  .modal-open .modal {
    padding: 0
  }
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both
}

@keyframes fadeIn {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

.fadeIn {
  animation-name: fadeIn
}

.logo-menu .user-name i {
  font-size: 16px;
}
