
<div id="profile" class="col-lg-12 col-md-12 col-sm-6 col-xs-12 no-padding">
    <div id="pro-top" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div id="info" class="col-xs-12">
            <div id="avatar" class="col-xs-3 text-center">
                <a href="/user/profile">
                    <img src="/assets/images/avatars/no_avatar.jpg" alt="avatar">
                    <img class=" user-verified" src="/assets/images/icon/user-verified.png" alt="user-verified">
                </a>
            </div>

            <div class="col-xs-9">
                <div id="your-id">
                    <span class="yourid-player">Phamtinh142</span>
                    <p class="yourid-level">Lv 1</p>
                    <div class="user-account limited-account mt5 mb5">Limited account</div>
                    <a href="javascript:void(0)" class="noti-update-profile">Please verify email</a><br />
                    <span class="user-steamid" >1234</span>
                </div>

            </div>
        </div>
        <div class="clearfix"></div>
    </div>

    <div class="user-progress col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
        <div id="coin-diamond" class="text-center" style="font-size: 13px;">
            <div style="cursor: pointer;" class="no-padding coin text-gray pull-left 23-gaming-coin"
                 data-toggle="tooltip" data-placement="bottom">
                <img src="/assets/images/icon-price-21.png" width="21" height="21" alt="gold-coin">
                <span id="user-gold-coin"> 0 </span>
            </div>
        </div>
    </div>
</div>
