<footer>
    <div id="footer" class="">
        <div id="wrapper-footer" class="row">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 no-padding">
                <a class="footer-logo" href="/">
                    <img src="assets/images/logo/logo-csgo.png" alt="logo-xgame">
                </a>
                <br>
                <div class="players_online hide">
                    <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                    <span class="player_count num_player_online">0</span>
                    <span class="player_on_txt">players online</span>
                </div>
            </div>
        </div>
    </div>
    <!-- End #footer -->
</footer>
