$color_1: white;
$color_2: #ffffff;
$font-family_1: "Roboto-Medium";
$font-family_2: "Roboto-Regular";
$background-color_1: #333333;
$background-color_2: #090909;
$background-color_3: #242424;
$background-color_4: #ff9910;

@font-face {
  font-family: "Roboto-Medium";
  src: url('/assets/fonts/Roboto-Medium.ttf');
}
@font-face {
  font-family: "Roboto-Regular";
  src: url('/assets/fonts/Roboto-Regular.ttf');
}
.list-game {
  min-height: 500px;
  background-color: $background-color_1;
  padding: 30px 8px 10px;
  .game-details {
    padding: 0 8px;
    margin-bottom: 20px;
  }
}
.game-details-title {
  background-color: $background-color_2;
  text-align: center;
  height: 38px;
  line-height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  font-family: $font-family_1;
  font-size: 16px;
  color: $color_1;
  .game-details-icon {
    margin-right: 3px;
  }
}
.game-details-content {
  height: 180px;
  background: #000;
  position: relative;
  .bg {
    height: 100%;
    width: 100%;
    z-index: 2;
    opacity: .2;
    position: absolute;
  }
  .game-details-row {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    >.row {
      width: 100%;
      height: 100%;
    }
  }
  .game-details-left {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #2f2f2f;
    a {
      color: $color_1;
      text-align: center;
      text-decoration: none !important;
    }
    p {
      padding: 5px 0;
      color: $color_1;
      text-align: center;
      text-decoration: none !important;
      &:hover {
        text-decoration: none !important;
        color: $color_1;
      }
    }
  }
  .game-details-right {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color_2;
    font-size: 13px;
  }
  .game-details-left.have-carousel {
    flex-direction: column;
    h3 {
      font-family: $font-family_1;
      font-size: 16px;
      margin-bottom: 0;
    }
    .carousel {
      width: 130px;
    }
    ol.carousel-indicators {
      bottom: -16px;
      li {
        width: 7px;
        height: 7px;
      }
      li.active {
        width: 8px;
        height: 8px;
      }
    }
    .item {
      width: 100%;
      img {
        width: 100%;
        cursor: pointer;
      }
    }
  }
}
.carousel-inner {
  >.next {
    position: absolute !important;
  }
  >.prev {
    position: absolute !important;
  }
}
.button-play {
  height: 75px;
  background-color: $background-color_3;
  display: flex;
  align-items: center;
  justify-content: center;
  .button-content {
    width: 120px;
    height: 45px;
    line-height: 45px;
    font-family: $font-family_2;
    font-size: 16px;
    color: $color_1;
    background-color: $background-color_4;
    text-align: center;
    border-radius: 3px;
    &:hover {
      text-decoration: none;
    }
    &:focus {
      text-decoration: none;
    }
  }
  a {
    &:hover {
      text-decoration: none;
    }
    &:focus {
      text-decoration: none;
    }
  }
}
