<div id="main">
  <!-- START MAIN-LEFT -->
  <h1 style="display: none">X2 game gambling dota2  csgo item </h1>
  <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 no-padding" id="main-left">
    <div id="all-lottery" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
      <input type="hidden" id="game-id" value="<%= infoGame._id %>">

      <ul class="nav nav-tabs tab-top menu-arcade">
        <li class="nav-title active">
          <a href="/lottery" class="text-uppercase">X2 GAME</a>
        </li>
        <li class="nav-title <% if(checkGameX50 >= 0){ %>active<% } %>">
          <a href="/x50" class="text-uppercase">X50 GAME</a>
        </li>
        <li class="nav-title <% if(checkGameHilo >= 0){ %>active<% } %>">
          <a href="/hilo" class="text-uppercase">HILO GAME</a>
        </li>
      </ul>

      <div class="col-xs-12 no-padding tab-content">
        <ul class="nav nav-tabs">
          <li role="presentation" class="active"><a href="/lottery">GAME</a></li>
          <li role="presentation"><a href="/lottery/history">HISTORY</a></li>
          {{#if checkLogin}}
            <li role="presentation"><a href="/lottery/my-history">MY GAME HISTORY</a></li>
          {{/if}}
          <li role="presentation"><a href="/lottery/top">TOP</a></li>
        </ul>

        <div class="clearfix"></div>

        <div class="game bonus-room">
          <div class="game-content">
            <div class="bonus-game-roulette">
              <div class="game-roulette">
                <div class="game-roulette-numbers"></div>
                <div class="sprite game-roulette-cursor"></div>
                <div class="sprite game-roulette-cursor-shadow"></div>

                <div class="bonus-game-state-container" style="transform: rotateY(0deg); transition: 600ms ease;">
                  <div id="bonus-game-timer" class="bonus-game-state front bonus-game-timer">
                    <div class="inner"></div>
                    <div class="bonus-progress-bar">
                      <svg class="" width="130" height="130" viewBox="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="50" cy="50" r="49" fill="none" />
                        <circle cx="50" cy="50" r="46" stroke="#f99910" stroke-width="8" stroke-dasharray="0 14.5" stroke-linecap="round"
                                fill="transparent" />
                      </svg>
                    </div>
                  </div>
                  <div class="bonus-game-state back">
                    <div class="result-state-container" style="transform: rotateY(0deg); transition: 600ms ease;">
                      <div class="bonus-game-state front bonus-game-pre-end">Raffling</div>
                      <div class="bonus-game-state back bonus-game-end black">8</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="bonus-game-bet-calc">
              <div>
                <div class="bonus-game-calc">
                  <div class="bet-calculator">
                    <ul class="buttons-list buttons-list-golden-coin">
                      <li class="button repeat-bet">
                        <span class="sprite repeat-bet" data-method="repeat-bet"></span>
                      </li>
                      <li class="button clear">
                        <span class="sprite clear" data-method="clear-bet"></span>
                      </li>
                      <li class="button value plus10" data-value="0.01" data-method="plus">+0.01
                      </li>
                      <li class="button value plus100" data-value="0.1" data-method="plus">+0.1
                      </li>
                      <li class="button value plus1000" data-value="1" data-method="plus">+1
                      </li>
                      <li class="button value plus10000" data-value="10" data-method="plus">+10
                      </li>
                      <li class="button value multiply" data-value="2" data-method="multiply">x2
                      </li>
                      <li class="button value divide" data-value="2" data-method="divide">1/2
                      </li>
                      <li class="button all" data-method="all">All</li>
                    </ul>
                  </div>

                  <div class="bonus-game-bet-input-container coins-input-container">
                    <input type="number" id="coins-input-value" class="bonus-game-bet-input coins-input" maxlength="8" placeholder="Enter Your Coins Here" style="color: black!important">
                    <span class="coins-component"></span>
                  </div>

                  <div class="bets-limits">
                    Min prediction:
                    <span data-bind="coins:getConfig('gameTypes.double.min_bet')">
											<span class="coins-new">
												<span class="coins-new__value golden">
													<span class="">0.01 <img src="/images/icon-price-21.png" alt=""> </span>
												</span>
												<span class="coins-new__value diamond hide">
													<span class="">0.01 <img src="/images/diamond.png" alt=""> </span>
												</span>
											</span>
										</span>
                    &nbsp;&nbsp;
                    Max prediction:
                    <span data-bind="coins:getConfig('gameTypes.double.max_bet')">
											<span class="coins-new">
												<span class="coins-new__value golden">
													100
													<img src="/images/icon-price-21.png" alt="">
												</span>
												<span class="coins-new__value diamond hide">
													<span class="">100 <img src="/images/diamond.png" alt=""> </span>
												</span>
											</span>
										</span>
                  </div>

                  <div class="bonus-game-calc-place-bet-buttons">
                    <p class="place-bet-buttons-text">Prediction coins:</p>
                    <ul class="place-bet-buttons-list noselect">
                      <li data-bet-type="red" data-type="1" class="bonus-game-calc-place-bet sprite bonus-red-button noselect">
												<span class="coins-component">
													<span class="part middle-block">0</span>
												</span>
                      </li>
                      <li data-bet-type="zero" data-type="2" class="bonus-game-calc-place-bet sprite bonus-zero-button noselect">
												<span class="coins-component">
													<span class="part middle-block">0</span>
												</span>
                      </li>
                      <li data-bet-type="black" data-type="3" class="bonus-game-calc-place-bet sprite bonus-black-button noselect">
												<span class="coins-component">
													<span class="part middle-block">0</span>
												</span>
                      </li>
                    </ul>
                  </div>
                </div>

                <div class="not-auth-placeholder not-auth-placeholder_backdrop hide">
                  <div class="not-auth-placeholder-container">
                    <div class="not-auth-placeholder-text">Log in to try your luck</div>
                    <a class="btn-yellow auth-link" data-action="steam-login">
                      <span class="icon-steam"></span>
                      Sign in through STEAM to play!
                    </a>
                  </div>
                </div>
              </div>

              <div class="volume">
                <i id="volume-x2" class="fa fa-volume-up hide"></i>
              </div>
            </div>
            <div class="game-roulette-history">
              <ul class="game-history-list" style="transition: transform 300ms ease-out; transform: translate3d(0px, 0px, 0px);">
                <li class="game-roulette-history-item red">1</li>
                <li class="game-roulette-history-item green zero">2</li>
                <li class="game-roulette-history-item black">3</li>
              </ul>
            </div>
            <div class="bonus-game-info">
              <div class="game-title">
								<span class="game-num">№
									<span class="value">1000</span>
								</span>
                <a href="#" class="fairplay">Fair game</a>
              </div>
              <div class="game-hash-info">
                <div class="round-hash-container">
                  Round hash:
                  <div id="roundHash" class="round-hash">1hn50bejgape</div>
                </div>
                <div class="round-hash-container">
                  Hash salt:
                  <div id="hashSalt" class="hash-salt">100003</div>
                </div>
                <div>
                  Round number:
                  <span id="randNum" class="round-number">3123fsfsfdfs</span>
                </div>
              </div>
            </div>
            <div id="validator" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center"></div>
          </div>
          <div class="game-bets-container">
            <ul class="columns-list">
              <li class="column red">
                <div class="game-bets-header">Total placed:
                  <span class="coins-component game-bets-value">
										<span class="first-block"></span>
										<span class="part middle-block">0</span>
									</span>
                </div>
                <ul class="game-bets-list" style="transition: transform 0s ease 0s; transform: translate3d(0px, 0px, 0px);">
                  <li class="bonus-game-bet showed" id="1" data-position="1">
                    <div class="bet-user-info middle-block" data-toggle="modal-profile" data-userid="1">
                      <div class="avatar middle-block" style="background-image: url(/images/avatars/no_avatar.jpg);"></div>
                      <div class="user-name middle-block">tinhpx</div>
                    </div>
                    <div class="coins-component bet-value">
                      <span class="part middle-block">
                        <span>100</span>
                        <img src="images/icon-price-21.png" alt="gold-coin">
                      </span>
                    </div>
                  </li>
                </ul>
              </li>
              <li class="column green">
                <div class="game-bets-header">Total placed:
                  <span class="coins-component game-bets-value">
										<span class="first-block"></span>
										<span class="part middle-block">0</span>
									</span>
                </div>
                <ul class="game-bets-list" style="transition: transform 0s ease 0s; transform: translate3d(0px, 0px, 0px);">
                  <li class="bonus-game-bet showed" id="1" data-position="1">
                    <div class="bet-user-info middle-block" data-toggle="modal-profile" data-userid="1">
                      <div class="avatar middle-block" style="background-image: url(/images/avatars/no_avatar.jpg);"></div>
                      <div class="user-name middle-block">tinhpx</div>
                    </div>
                    <div class="coins-component bet-value">
                      <span class="part middle-block">
                        <span>100</span>
                        <img src="images/icon-price-21.png" alt="gold-coin">
                      </span>
                    </div>
                  </li>
                </ul>
              </li>
              <li class="column black">
                <div class="game-bets-header">Total placed:
                  <span class="coins-component game-bets-value">
										<span class="first-block"></span>
										<span class="part middle-block">0</span>
									</span>
                </div>
                <ul class="game-bets-list" style="transition: transform 0s ease 0s; transform: translate3d(0px, 0px, 0px);">
                  <li class="bonus-game-bet showed" id="1" data-position="1">
                    <div class="bet-user-info middle-block" data-toggle="modal-profile" data-userid="1">
                      <div class="avatar middle-block" style="background-image: url(/images/avatars/no_avatar.jpg);"></div>
                      <div class="user-name middle-block">tinhpx</div>
                    </div>
                    <div class="coins-component bet-value">
                      <span class="part middle-block">
                        <span>100</span>
                        <img src="images/icon-price-21.png" alt="gold-coin">
                      </span>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="game-side-bar"></div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <!-- END #MAIN-LEFT -->

  {{>check-hash}}

  <!-- START MAIN_RIGHT -->
  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 no-padding" id="main-right">

    {{>profile-right}}

    <div id="lottery-top" class="col-xs-12 no-padding">
      <div class="col-xs-6 no-padding top-winner">
        <div class="top-title text-center text-white">WINNER OF THE DAY</div>
        <div class="top-info text-center" style="height:153px">
          <h4 class="top-name text-white"></h4><span class=""></span>
        </div>
        <div class="top-win text-center text-white">
          <span class="pull-left">Win at a time :</span>
          <span class="pull-right"> 0 <img src="/images/icon-price-21.png"></span>
        </div>
      </div>
      <div class="col-xs-6 no-padding top-predict">
        <div class="top-title text-center text-white">PREDICTOR OF THE DAY</div>
        <div class="top-info text-center" style="height:153px">
          <h4 class="top-name text-white"></h4><span class=""></span>
        </div>
        <div class="top-win text-center text-white">
          <span class="pull-left">Total wins :</span>
          <span class="pull-right"> 0 <img src="/images/icon/icon-lottery-top-row.png"></span>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
  <!-- END #MAIN_RIGHT -->

  <audio id="audio-start-x2">
    <source src="/audio/start.mp3" type="audio/mpeg">
  </audio>

  <audio id="audio-end-x2">
    <source src="/audio/end.mp3" type="audio/mpeg">
  </audio>

</div><!-- End #main -->
